.navBar{
    background-color: #ffffff;
    box-shadow: 5px 5px 5px  #88888836;
    position: sticky;
    top: 0;
    z-index: 1000;
    /* margin-bottom: 20px; */
}
.navBar .logo{
    height: 65px;
    width: 65px;    
}
.navBar .logo-text{
    font-weight: 700;
    font-size: 25px ;
}
.navBar ul{
    list-style: none;
}
.navBar li{
    color: #0077b6;
    font-weight: 600;
    list-style: none;
}
.navBar .navItems ul li::after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    border-radius: 6px;
    left: 50%;
    position: relative;
    background: #5959595d;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.navBar .navItems ul li:hover:after { 
    width: 100%; 
    left: 0; 
  }
  .navBar .navItems ul li.active::after{
    width: 100%; 
    left: 0; 
  }
.navBar  li a{
    text-decoration: none;
    color: #0077b6;
    font-weight: 600;
}
.navBar button{
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    color: white;
    background-color: #48cae4;
}
.navBar button:hover{
    color: #48cae4;
    background-color: white;
    border: 1px solid #48cae4;
}
.navBar .navItems .responsive{
    display: none !important;
}
@media (max-width:1121px) {
    .navBar .login-signup li span{
        display: none;
    }
    .navBar .login-signup li i{
        font-size: 20px;
    }
}
@media (max-width:1055px) {
    .navBar .logo-text{
        font-size: 20px;
    }
    .navBar .navItems ul li{
        font-size: 10px;
    }
    .navBar .login-signup li,button{
        font-size: 15px;
        margin: 0 !important;
    }
}

@media (max-width:768px) {
    .navBar .navItems{
        position: fixed !important;
        bottom: 0;
        z-index: 100;
        top: inherit;
        background-color: white;
        width: 100%;
    }
    .navBar .navItems ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly !important;
    }
    .navBar .navItems ul li span{
        font-size: 8px;
        /* display: none; */
    }
    .navBar .navItems ul li i.responsive{
        display: block !important;
    } 
}

@media (max-width:365px) {
    .navBar .navItems ul li span{
        font-size: 8px;
        display: none;
    }
}